.Follow-Profile-Picture {
    float: left;
    display: block;
    height: 100px;
    width: 100px;
    object-fit: cover;
    border-radius:50%;
    margin: 4px 4px 4px 4px;
}

.Follower-Wrapper{
    display: block;
    overflow-y: scroll;
    scrollbar-width: thin;
    width: 100%;
}

.Follower{
    font-family: Consolas;
    font-size: 30px;
    margin: auto;
    width: 50%;
    display: block;
    background-color: #5FAA4B;
    outline: 1px solid #1F1F1F;
    border-radius: 5px;
    border-color: #1F1F1F;
    border-width: 1px;
    margin-bottom: 4px;
    padding: 5px;
    padding-bottom: 0px;
    padding-left: 0px;
}

.Follower-Name{
    display: inline;
}