.Front-top {
    margin-left: 390px;
    margin-top: 40px;
    font-family: Consolas;
    padding: 10px 80px 20px 80px;
    background-color: #DDDDDD;
    flex-direction: column;
    display: inline-grid;
    border-radius: 20px;
    text-align: center;
    justify-content: center;
    font-size: 16px;
}

.Front-logo {
    margin-right: 10px;
    width: 400px;
}

.Front-bottom {
    margin-left: 390px;
    margin-top: 40px;
    font-family: Consolas;
    padding: 10px 76px 20px 76px;
    background-color: #DDDDDD;
    flex-direction: column;
    display: inline-flex;
    border-radius: 20px;
    text-align: center;
    justify-content: center;
    margin-left: 390px;
}

.buttons {
    display: inline;
}

.Front-login-button {
    font-family: Consolas;
    font-size: 20px;
    padding: 12px;
    width: 180px;
    background-color: #5FAA4B;
    border-radius: 8px;
    margin-right: 20px;
    border-color: #1F1F1F;
    border-width: 1px;
    display: inline;
}

.Front-signup-button {
    font-family: Consolas;
    font-size: 20px;
    padding: 12px;
    width: 180px;
    background-color: #5FAA4B;
    border-radius: 8px;
    border-color: #1F1F1F;
    border-width: 1px;
}