.Front-top {
    margin-left: 390px;
    margin-top: 120px;
    font-family: Consolas;
    padding: 10px 80px 30px 80px;
    background-color: #EEEEEE;
    flex-direction: column;
    display: inline-grid;
    border-radius: 20px;
    text-align: center;
    justify-content: center;
}

.Front-logo {
    margin-right: 10px;
    width: 400px;
}

.Front-left-text {
}