.Login-logo {
  text-align: left;
  margin-left: 120px;
  margin-top: 120px;
  width: 400px;
}

.Body {
  font-family: consolas;
  overflow-y: fragments;
  height: 100%;
}

.Login-welcome {
  width: max-content;
  text-align: center;
  padding: 15px;
  background-color: #DDDDDD;
  border-radius: 20px;
  margin-left: 180px;
}

.description {
  text-align: center;
  font-size: 16px;
}

.Login-left {
  background-color: #FFFFFF;
  display: inline-grid;
  flex-direction: column;
  align-items: center;
  justify-content: left;
  font-size: 32px;
  color: #1F1F1F;
}

.Login-right {
  text-align: center;
  display: inline-grid;
  vertical-align: top;
  background-color: #DDDDDD;
  padding: 15px;
  border-radius: 20px;
  margin-left: 300px;
  margin-top: 150px;
  font-size: 24px;
}

.Login-button {
  font-family: Consolas;
  font-size: 20px;
  padding: 12px;
  width: 320px;
  background-color: #5FAA4B;
  border-radius: 8px;
  border-color: #1F1F1F;
  border-width: 1px;
}

.Signup-button {
  font-family: Consolas;
  font-size: 20px;
  padding: 12px;
  width: 240px;
  background-color: #5FAA4B;
  border-radius: 8px;
  border-color: #1F1F1F;
  border-width: 1px;
}

.Forgot-password {
  font-size: 16px;
  color: #1F1F1F;
}

.Login-username-field {
  font-family: Consolas;
  padding: 10px;
  font-size: 16px;
  width: 300px;
  border-radius: 8px;
  border-color: #1F1F1F;
  border-width: 1px;
}
.Login-password-field {
  font-family: Consolas;
  padding: 10px;
  font-size: 16px;
  width: 300px;
  border-radius: 8px;
  border-color: #1F1F1F;
  border-width: 1px;
}

.space {
  margin-top: 30px;
}

.Login-Error-Text {
  font-family: Consolas;
  font-size: 16px;
  text-align: center;
  margin-top: -5px;
  color: #DD0000;
}
