.Post-Top-Banner{
    height: 40px;
    display: block;
    background-color: #5FAA4B;
    padding-top: 10px;
    padding-bottom: 10px;
}

.Post-Logo-Button {
    background: #5FAA4B;
    border-width: 0px;
    width: 40px;
    height: 40px;
    margin-right: 20px;
    margin-left: 10px;
}

.Post-Logo-Image {
    width: 40px;
    height: 40px;
    background-color: #DDDDDD;
    border-radius: 20px;
}

.Post-Banner-Text {
    font-family: Consolas;
    font-size: 38px;
    vertical-align: text-bottom;
}

.Post-Banner-Button {
    float: right;
    background: #5FAA4B;
    border-width: 0px;
    width: 40px;
    height: 40px;
    margin-right: 20px;
    margin-left: 10px;
}

.Post-Horizontal-Bar {
    background-color: #1F1F1F;
    height: 1px;
}

.Post-Post-Wrapper{
    margin:auto;
    font-family: Consolas;
    display: block;
    width: 50%;
    background-color: #5FAA4B;
    outline: 1px solid #1F1F1F;
    border-radius: 5px;
    border-color: #1F1F1F;
    border-width: 1px;
    margin-bottom: 4px;
    margin-top: 5px;
    padding: 5px;
    padding-bottom: 1px;
    padding-left: 1px;
}

.Post-Post-Content {
    font-family: Consolas;
    font-size: 20px;
    display: block;
    text-align: left;
    background-color: #5FAA4B;
    line-height: 0.5;
    border-style: hidden;
}

.Post-Post-Name{
    font-family: Consolas;
    font-size: 20px;
    display: inline-block;
    background-color: #5FAA4B;
    border-style: none;
}

.Post-Post-Name:hover{
    text-decoration: underline;
}

.Post-Post-PFP {
    display: inline;
    height: 40px;
    width: 40px;
    object-fit: cover;
    border-radius:50%;
    vertical-align: middle;
    padding-right: 5px;
}

.Post-Post-Topic{
    font-size: 15px;
    float: right;
}

.Post-Like-Button{
    background-color: #5FAA4B;
    border-radius: 5px;
    border-color: #1F1F1F;
    border-width: 1px;
}

.Post-Like-Button:hover{
    filter: brightness(90%);
}

.Post-Like-Button:hover + .Post-Likers {
    display: block;
}

.Post-Likers {
    display: none;
    position: absolute;
    z-index: 1;
    background-color: #5FAA4B;
    border-color: #1F1F1F;  
    border-radius: 10px;
    border-width: 2px;
    border-style: solid;
}

.Post-Likers:hover{
      display: block;
}

.Post-Liker-Button{
    display: block;
    background-color: #5FAA4B;
    border-style: hidden;
    border-radius: 10px;
}

.Post-Liker-Button:hover{
  filter: brightness(90%);
}

.Post-Comment-Wrapper{
    display: block;
    width: 100%;
    padding: 5px;
}

.Post-Comment{
    margin:auto;
    font-family: Consolas;
    display: block;
    width: 70%;
    background-color: #5FAA4B;
    outline: 1px solid #1F1F1F;
    border-radius: 5px;
    border-color: #1F1F1F;
    border-width: 1px;
    margin-bottom: 4px;
    padding: 5px;
    padding-bottom: 0px;
    padding-left: 0px;
}

.Post-Comment-Name{
    font-family: Consolas;
    font-size: 20px;
    display: inline-block;
    background-color: #5FAA4B;
    border-style: none;
}

.Post-Comment-Name:hover{
    text-decoration: underline;
}

.Post-Comment-PFP{
    display: inline;
    height: 40px;
    width: 40px;
    object-fit: cover;
    border-radius:50%;
    vertical-align: middle;
    padding-right: 5px;
}

.Post-Comment-Like-Button:hover + .Post-Comment-Likers{
    display: block;
}

.Post-Comment-Likers{
    display: none;
    position: absolute;
    z-index: 1;
    background-color: #5FAA4B;
    border-color: #1F1F1F;  
    border-radius: 10px;
    border-width: 2px;
    border-style: solid;
}

.Post-Comment-Likers:hover{
    display: block;
}

.Post-Comment-Liker-Button{
    display: block;
    background-color: #5FAA4B;
    border-style: hidden;
    border-radius: 10px;
}

.Post-Comment-Liker-Button:hover{
  filter: brightness(90%);
}





