.Profile-banner {
    font-family: Consolas;
    font-size: 48px;
    text-align: left;
    margin-top: 0px;
    margin-left: 0px;
    margin-bottom: 0px;
    background-color: #5FAA4B;
    padding: 12px;
}

.Logo {
    display: flex;
    width:50px;
    vertical-align: top;
    background-color: #DDDDDD;
    border-radius: 20px;
    margin-top: 5px;
    margin-bottom: -5px;
    margin-left: 5px;
  }
.Profile-picture {
    width: 15%;
  } 

.Stem-text{
    font-size: 50px;
    position: absolute; 
	top: -35px; 
	left: 75px;
    color:#EEEEEE;
    font-family: consolas;
}

.Profile-bio {
    font-family: Consolas;
    font-size: 24px;
    background-color: #EEEEEE;
}
p.username{
    display: inline-grid;
    padding-left: 5%;
}
span.post-history{
    position: absolute;
    left: 0;
    display: inline-block;
    width: 90%;
    height: 80%;
    overflow-y: scroll;
    /*scrollbar-color: ;*/
    scrollbar-width: thin;
    border: 1px solid #5FAA4B;
}