.Profile-banner {
    font-family: Consolas;
    font-size: 48px;
    text-align: left;
    margin-top: 0px;
    margin-left: 0px;
    margin-bottom: 0px;
    background-color: #5FAA4B;
    padding: 12px;
}

.Logo {
    display: flex;
    width:50px;
    vertical-align: top;
    background-color: #DDDDDD;
    border-radius: 20px;
    margin-top: 5px;
    margin-bottom: -5px;
    margin-left: 5px;
  }

.Profile-picture {
    display: inline-grid;
    height: 200px;
    width: 200px;
  } 

.Stem-text{
    font-size: 50px;
    position: absolute; 
	top: -35px; 
	left: 75px;
    color:#EEEEEE;
    font-family: consolas;
}

.Profile-info {
    display: inline-grid;
    vertical-align: top;
    height: 200px;
    width: calc(100vw - 210px);
    font-family: Consolas;
    font-size: 24px;
    padding-left: 10px;
    background-color: #DDDDDD;
}
.Profile-bio {
    font-size: 14px;
}

.Post-history {
    position: absolute;
    display: inline-block;
    width: 99.9%;
    height: calc(100vh - 280px);
    overflow-y: scroll;
    scrollbar-width: thin;
}
.filetype{
    position: absolute;
    width: 99.9%;
    height: calc(100vh - 280px);
}