.Profile-picture {
    float: left;
    display: inline-grid;
    height: 200px;
    width: 200px;
    object-fit: cover;
    border-radius:50%;
    margin: 4px 4px 4px 4px;
}

.Profile-Picture-Button {
    font-family: Consolas;
    font-size: 20px;
    padding: 12px;
    width: 200px;
    background-color: #5FAA4B;
    border-radius: 8px;
    border-color: #1F1F1F;
    border-width: 1px;
    margin-right: 4px;
    display: inline;
}

.Profile-info {
    display: flex;
    font-family: Consolas;
    font-size: 24px;
    background-color: #DDDDDD;
    width: 75%;
}

.Profile-bio {
    font-size: 14px;
}

.Edit-profile-button {
    font-family: Consolas;
    font-size: 20px;
    padding: 12px;
    width: 200px;
    background-color: #5FAA4B;
    border-radius: 8px;
    border-color: #1F1F1F;
    border-width: 1px;
    margin-right: 4px;
}

.space {
    margin-top: 10px;
}

.filetype {
    position: absolute;
    width: 99.9%;
    height: calc(100vh - 280px);
}